.flex-container{
    display:flex;
    flex-flow:row wrap;
}
.inline-flex-container {
    display:inline-flex;
    flex-flow:row wrap;

}

.bg-red {
    background-color: red;
}
.bg-blue{
    background-color: aquamarine;
}
.flex-container>div{
    background-color: darkgray;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.inline-flex-container>div{
    background-color: lightblue;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}