.flex-container{
    display:flex;
    flex-flow:row;
    justify-content: row;
}
.inline-flex-container {
    display:inline-flex;
    flex-flow:row wrap;
    justify-content: flex-end;

}

.bg-red {
    background-color: red;
}
.bg-blue{
    background-color: aquamarine;
}
.flex-container>div{
    background-color: darkgray;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 600px;
}

.inline-flex-container>div{
    background-color: lightblue;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    
}

.d1 {
    order: 1;
}

.d2 {
    order: 3;
}

.d3 {
    order: 2;
    flex-shrink: 4;
}