.flex-container{
    display: flex;
    border: 1px solid;
    
}

.flex-container>div{
    background-color: lightblue;
    border: 1px solid;
    padding: 10px;
    margin: 20px;
    border-collapse: collapse;
    
}
.flex{
    display: flex;
    flex-direction: column;
    

}

.flex>div{
    background-color: lightblue;
    border: 1px solid;
    padding: 10px;
    margin: 20px;
}
section{
    border-collapse: collapse;
    border: 1px;
    
}

.content{
    flex-grow:3;
    border: 1px solid;
    border-collapse: collapse;
}

.table{
    display: flex;
    flex-direction:row ;
    border: 1px solid;
}